/* :root{
  
} */

* {
  font-family: Arial,verdana, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}

img{
  width: 300px;
  height: 400px;
}

section, header, footer{
  display:block;
  margin-bottom: 20px;
  height: fit-content;
}

h2{
  font-size: 50px;
  margin: 20px;
  text-align: center;
}

p{
  font-size: 30px;
}

/* HEADER CODE*/
header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

h1{
  font-size: 35px;
}

header a{
  padding-right: 15px;
  font-size: 20px;
  color:black;
}
/* HEADER CODE*/


/* ABOUT-ME CODE*/
#about-me{
  background-color: blueviolet;
  display:flex;
}

#about-me .text-div{
  margin: 0 40px;
}
/* ABOUT-ME CODE*/

/* WORK CODE */
#work{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aquamarine;
}

.content{
  display:flex;
  flex-wrap: wrap;
}

.proj{
  margin: 30px;
  text-align: center;
}

.proj #first{
  width: 600px;
}
/* WORK CODE */

/* CONTACT CODE */
#contact{
  display:flex;
  flex-direction: column;
}

#contact .info-div{
  display:flex;
  justify-content: space-around;
  margin: 40px;
  background-color: blueviolet;
}

#contact .form{
  display:flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: start;
}

#contact .input{
  display:flex;
  align-items: center;
  background-color:chartreuse ;
}

#contact .form #comment{  
  height: 100px;
  width: 40%;
}
/* CONTACT CODE */


/* top button in footer */
footer a{
  position:fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color:red
}