/* :root{
  
} */

* {
  font-family: Arial,verdana, Helvetica, sans-serif;
  text-decoration: none;
}

img{
  width: 300px;
  height: 400px;
}

/* HEADER SECTION CSS CODE */
header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

h1{
  font-size: 35px;
}

header a{
  padding-right: 15px;
  font-size: 20px;
  color:black;
}
/* HEADER SECTION CSS CODE */