/* :root{
  
} */

* {
  font-family: Arial,verdana, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}

img{
  width: 300px;
  height: 400px;
}

section, header, footer{
  display:block;
  margin-bottom: 20px;
  height: fit-content;
}

h2{
  font-size: 50px;
  margin: 20px;
  text-align: center;
}

p{
  font-size: 20px;
}

/* HEADER CODE*/
header {
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

h1{
  font-size: 35px;
}

header a{
  padding-right: 15px;
  font-size: 20px;
  color:black;
}
/* HEADER CODE*/


/* ABOUT-ME CODE*/

#about-me{
  background-color: blueviolet;
  display:flex;
}

#about-me .text-div{
  margin: 0 40px;
}
/* ABOUT-ME CODE*/